body {
  margin: 0;
  padding: 0;
}
header {
  background-color: white;
  height: 100px;
}

.logo-wrap {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 50px; /* 만약 로고를 전체 뷰포트의 중앙에 배치하려면 이 값을 설정합니다. 필요에 따라 조절 가능 */
}
.width-unit {
  min-width: 1400px;
  width: 1400px;
  display: flex;
  justify-content: center; /* 로고가 들어있는 div를 중앙에 배치 */
  min-width: 1400px;
  width: 1400px;
  height: 100%; /* 부모의 높이에 맞춤 */
}

.gnb-default-wrap {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.gnb-default {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.gnb-default ul {
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 0;
  list-style: none;
}
.gnb-default ul li {
  padding: 10px 5px;
  margin: 0 50px;
}
